.small-12.text-center
  %h3 Points Distribution
  %hr
  #student_grade_distro{'data-scores' => @scores_for_current_course.to_json}
  #gradeDistro.collapse
  %p
  %h3
    %small= link_to "How do I read this chart?", "http://www.youtube.com/watch?v=7UK2DK7rblw&feature=youtu.be", :target => "_blank"
