%table.table.table-striped.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Name
      %th Character Profile
      %th.sortable{"data-sort" => "string"} Role
  %tbody
    - @students.each do |student|
      - cache ['v1', student, current_course, 'in_team_rankings'] do
        - if student.display_name?
          %tr
            %td= student.display_name
            %td= student.character_profile(current_course)
            %td= "#{number_with_delimiter(student.score_for_course(current_course), :delimiter => ',')}"  if student.respond_to?(:grades)
