%table.table.table-striped.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Name
      %th Character Profile
      %th.sortable{"data-sort" => "string"} Role
  %tbody
    - @students.each do |student|
      - if student.display_name?
        %tr
          %td= student.display_name
          %td= student.character_profile(current_course)
          %td= student.score_for_course(current_course) if student.respond_to?(:grades)
