.small-12.panel.mainContent
  / Criteria Navigation
  = content_nav_for @rubric, Criterium, @criterium.category ? "Add '#{@criterium.category}' Criterium" : 'Add Criterium'
  
  = render 'form'

  .clearfix