.small-12.panel.mainContent
  / Assignment Type Navigation
  = content_nav_for AssignmentType, "Edit #{breadcrumb_link_for(@assignment_type)}".html_safe do
    = render "assignments/tabs"

  .small-12.columns

    / Display Assignment Type form
    = render 'form'

  .clearfix