.small-12.panel.mainContent
  / Assignment Type Navigation
  = content_nav do
    = render "assignments/tabs"

  .pagetitle= @title

  / Display Assignment Type form
  .small-12.columns
    = render 'form'

  .clearfix