.small-12.panel.mainContent
  / Assignment Type Navigation
  .show-for-medium-up
    = content_nav do
      = render "assignments/tabs"

  .pagetitle= @title

  .small-12.columns
    = render 'form'

  .clearfix
