.small-12.panel.mainContent
  / Assignment Type Navigation
  = content_nav_for Assignment, "Create a New #{term_for :assignment}" do
    = render "assignments/tabs"

  .small-12.columns

    = render 'form'

  .clearfix
