%li= link_to "See All #{@challenge.name} Grades", challenge_path(@challenge), :class => "button tiny radius"
%li= link_to 'See Grade', challenge_challenge_grade_path(@challenge, @challenge_grade), :class => "button tiny radius"