= content_nav_for @challenge do
  %li= link_to 'Show', challenge_challenge_grade_path(@challenge, @challenge_grade), :class => "btn btn-tiny btn-info"
  %li= link_to 'Back', challenges_path(@challenge), :class => "btn btn-tiny btn-info"

= render 'form'
