%ul.nav.nav-tabs
  %li{:class => ('active' if current_page?(analytics_root_path))}
    = link_to "All", analytics_root_path
  %li{:class => ('active' if current_page?(analytics_students_path))}
    = link_to "Students", analytics_students_path
  %li{:class => ('active' if current_page?(analytics_staff_path))}
    = link_to "Staff", analytics_staff_path
