%dl.tabs{:data => {'tab' => true}}
  %dd{:class => ('active' if current_page?(analytics_root_path)) }
    %a{:href => analytics_root_path } All
  %dd{:class => ('active' if current_page?(analytics_students_path))}
    %a{:href => analytics_students_path } Students
  %dd{:class => ('active' if current_page?(analytics_staff_path))}
    %a{:href => analytics_staff_path } Staff