%li
  %a{:href => analytics_root_path, :class => "button radius tiny" } All
%li
  %a{:href => analytics_students_path, :class => "button radius tiny" } Students
%li
  %a{:href => analytics_staff_path, :class => "button radius tiny" } Staff