%h1 Events Analytics

%h2 Aggregate Metrics

%h3 Logins
(per day, over time)

%h3 Average Login Frequency
(per week, over time)

%h3 Pageviews
(per hour, over time)

%h3 Events in the Past 10 Minutes:
%div{:data => {:fnordmetric =>"timeseries", :since => "-10minutes", :until => "now", :gauges => "events_per_minute_predictor", :autoupdate => "1"}}

%h3 Average Predictor Scores Set (%):
(per week, over time, to see when students start predicting higher or lower scores)

%h3 Average Predictor Scores per Assignment:
(all-time)

%h3 Predictor Events per Assignment:
(per day, over time)

%h2 Metrics for Student:
= select_tag :user, options_from_collection_for_select(@sorted_students, "id", "name"), :id => 'user-events'

%h3 Logins
(per day, over time)

%h3 Average Login Frequency
(per week, over time)

%h3 Pageviews
(per hour, over time)

%h3 Events in the past 10 minutes
%div{:data => {:fnordmetric =>"timeseries", :since => "-10minutes", :until => "now", :gauges => "events_per_minute_predictor", :autoupdate => "1"}}

%h3 Average Predictor Scores:
(per week, over time)
