.small-12.panel.mainContent
  / Leaderboards
  = content_nav do
    = render "tabs"

  .pagetitle #{term_for :team} Grade Distribution

  .small-12.columns
        
    #grade_distro

    - if current_course.has_teams?
      #highchart
      #grades_per_assign{"data-id" => "7"}