.small-12.panel.mainContent
  / Leaderboards
  = content_nav do
    = render "tabs"

  .pagetitle Top 10
  = render 'students_table', :course => current_course, :students => @top_ten_students

  %br

  .pagetitle Bottom 10
  = render 'students_table', :course => current_course, :students => @bottom_ten_students.reverse
