%table.table.table-striped.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} #{term_for :student}
      %th.sortable{"data-sort" => "string"} #{term_for :badges}
  %tbody
    - SharedEarnedBadge.where(course: current_course).group_by(&:user_id).each do |user_id, sebs|
      %tr
        %td= link_to sebs[0].student_name, student_path(sebs[0].user_id)
        %td
          - sebs.each do |seb|
            = image_tag seb.icon, :alt => seb.name, :width => '40'
