//- cache current_student_data.cache_key('v1', :assignment_weights_key, :assignments_key, :grades_key, :earned_badges_key) do
#data-predictor{'data-predictor' =>  current_student_data.predictions.to_json}
-##data-predictor{ 'data-predictor' => render(:partial => 'timeline', :handlers => [:jbuilder], :formats => [:js])}
.chart#userBarInProgress
.chart#userBarTotal

