.panel.radius= render 'students/sidebar/sidebar_to_do_list'

.panel.radius= render 'students/sidebar/sidebar_grade_distribution'

- if current_course.has_badges?
  .panel.radius= render 'students/sidebar/sidebar_badges'