.sidebar_section= render 'students/sidebar/sidebar_to_do_list'

.sidebar_section= render 'students/sidebar/sidebar_grade_distribution'

- if current_course.has_badges?
  .sidebar_section= render 'students/sidebar/sidebar_badges'