.small-12.panel.mainContent
  / Student Dashboard Breadcrumbs
  = content_nav do
    = render "student_profile_tabs"

  .small-12.medium-9.columns
    #time_line{"data-timeline" => render(:partial => 'info/timeline', :handlers => [:jbuilder], :formats => [:js])}

  .small-12.medium-3.columns
    = render "staff_view_student_sidebar"

  .clearfix