%span.badge.badge-important
  #{assignment_type.weight_for_student(@user)} #{term_for :weight}
  - if assignment_type.student_weightable?
    - if current_course.assignment_weight_open? || current_user.is_staff?
      = link_to '(Change)', assignment_type_weights_path
