%table.table.table-striped.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} #{term_for :student}
      %th.sortable{"data-sort" => "string"} #{term_for :badges}
      - if current_course.valuable_badges?
        %th.sortable{"data-sort" => "int"} Total Badge Score
  %tbody
    - current_course.students.each do |student|
      -if current_course_data.badges_shared_for_student?(student)
        %tr
          %td= student.name
          %td
            - student.earned_badges.each do |earned_badge|
              - if eb.shared? && earned_badge.icon?
                = image_tag earned_badge.icon, :alt => earned_badge.name, :width => '40'
