#userID{ :'data-user-id' => @user.id }
%h4
  - if current_user.is_student?
    Your current score is
  - elsif current_user.is_staff?
    Current Score:
  %span#userScoreNum #{number_with_delimiter(@user.score_for_course(current_course), :delimiter => ',')}
  - if current_user.is_staff?
    Current Final Grade: #{@user.grade_level_for_course(current_course)}
- if current_course.graph_display?
  #userBarInProgress
  #userBarTotal
- else
  %div.charts.clear
    %div#userBarInProgress{:class => "dashboard-toggle"}
    %a{:href => "#", :id => "totalScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of the total course points
    %div#userBarTotal{:class => "dashboard-toggle"}
    %a{:href => "#", :id => "soFarScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of the points available points so far