#userID{ :'data-user-id' => @user.id }
%h4
  - if current_user.is_student?
    Your current score is
  - elsif current_user.is_staff?
    Current Score:
  %span#userScoreNum #{number_with_delimiter(@user.score_for_course(current_course), :delimiter => ',')}
  - if current_user.is_staff?
    Current Final Grade: #{@user.grade_level_for_course(current_course)}
- if current_course.graph_display?
  #userBarInProgressSim
  #userBarTotalSim
- else
  // Show me my score out of total course points
  = link_to '#', id: 'totalScoreToggle', class: 'dashboard-toggle' do
    .dashboard-toggle#userBarInProgress
  //Show me my score out of available points so far
  = link_to '#', id: 'soFarScoreToggle', class: 'dashboard-toggle' do
    .dashboard-toggle#userBarTotal
