.col.col-lg-12.col-md-12.col-sm-12.col-xs-12#historyInfo.badge-primary{"data-target" => "#academicInfo", "data-toggle" => "collapse"}
  %h4.center Course Grade Distribution
  #student_grade_distro{:data => {:id => current_student.id.to_s}
