.col.col-lg-12.col-md-12.col-sm-12.col-xs-12#historyInfo{"data-target" => "#academicInfo", "data-toggle" => "collapse"}
  %h4.center Academic History
  #academicInfo.collapse
    %p
      %b Major
    %p
      %b UM GPA
    %p
      %b Credits enrolled this term
    %p
      %b Accumulated credits
    %p
      %b Year in School
    %p
      %b State of Residence
    %p
      %b High School
    %p
      %b Athlete
    %p
      %b ACT score
    %p
      %b SAT score