.col.col-lg-12.col-md-12.col-sm-12.col-xs-12#gradeCurious.btn.btn-primary{:title => "Current Final Grade:", "data-placement" => "left", "data-content" => current_student.grade_level_for_course(current_course)}
  %span.buttonTitle Check My Final Grade
