- submission = @submissions.detect { |s| s.assignment_id == assignment.id }
- if submission
  = link_to "See Submission", assignment_submission_path(assignment, submission, :student_id => current_student), :class => 'btn btn-xs btn-info'
- elsif assignment.future? || assignment.still_accepted?
  = link_to "Submit", new_assignment_submission_path(assignment, :student_id => current_student), :class => 'btn btn-xs btn-success'
  - if assignment.past?
    %span.missed= "Past due"
