%div.modal
  %div.modal-content
    %div.modal-header
      %button{:type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} x
      %h3= assignment.name
    %div.modal-body
      %h4= best_in_place submission, :link, :path => assignment_submission_path(assignment, @user)
      - if submission.link?
        %iframe{:src => submission.link}
      %p= best_in_place submission, :comment, :path => assignment_submission_path(assignment, @user)
      %div.modal-footer
      %a{:href => "#", :class => "btn close", "data-dismiss" => "modal", "aria-hidden" => "true"}Close
      %a{:href => "#", :class => "btn btn-primary"} Save changes
