.small-12.panel.mainContent
  / Edit user breadcrumbs
  = content_nav do
    = render "users/tabs"

  .pagetitle= @title

  .small-12.columns
    / Form to edit user    
    = render 'form'

  .clearfix