.small-12.panel.mainContent
  / Edit user breadcrumbs
  = content_nav_for @user do
    = render "users/tabs"

  .small-12.columns
    / Form to edit user
    %h2= @title
    = render 'form'

  .clearfix