.small-12.panel.mainContent
  / New user navigation
  = content_nav do
    = render "tabs"
  
  .pagetitle= @title

  .small-12.columns
    / Form for creating a new user
    = render 'form'

  .clearfix