.small-12.panel.mainContent
  / New user navigation
  = content_nav_for User, "Create a New User" do
    = render "tabs"
  
  .small-12.columns
    / Form for creating a new user
    = render 'form'

  .clearfix