- if current_user
  - if current_course
    = render "info/#{current_user.role}_dashboard", :user => @user, :assignments => current_course.assignments
  - else
    %p Your account hasn't yet been connected to any courses. Contact us for help!
- else
  .small-12.medium-8.columns
    %h2.bold Welcome to GradeCraft
    %p
    .videowrapper
      <iframe width="560" height="315" src="//www.youtube.com/embed/4iuyEK8Bt-Y?rel=0" frameborder="0" allowfullscreen></iframe>
    %br
    %p GradeCraft is a learning management system dedicated to supporting the gameful classroom. We are actively researching and developing tools to encourage student engagement, and aid instructor workflow. GradeCraft is being developed at the University of Michigan, with the support of the Learning Analytics Taskforce. Interested in being involved? <a href="mailto:gradecraft@gmail.com">Get in touch!</a>
  .panel.small-12.medium-4.columns.login_forms
    = render "user_sessions/form"
