%div{:id => "grades_per_assign", :data => { :id => "1" }}

- @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
  .col-lg-12
    %h3= link_to assignment_type.name, assignment_type
  %table.table.simpleTable.table-striped
    %thead
      %tr
        %th.sortable{"data-sort" => "string"} Name
        %th.sortable{"data-sort" => "date"} Open Date
    %tbody
      - assignments.each do |assignment|
        %tr
          %td= link_to assignment.name, assignment
          %td
            %div{:class => "grades_per_assign", :data => { :id => assignment.id.to_s }}
