.col-lg-12
  %h3 Instructor Guide
  %hr
  .panel-group#accordion
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseIOne" } Setting Up a Course
      #collapseIOne.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseITwo" } Creating an Assignment Type
      #collapseITwo.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseIThree" } Creating a New Assignment
      #collapseIThree.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseIFour" } Grading
      #collapseIFour.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseIFive" } Rubric Grading
      #collapseIFive.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseISix" } Creating a Badge
      #collapseISix.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseISeven" }Awarding Badges
      #collapseISeven.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseIEight" }Analytics
      #collapseIEight.panel-collapse.collapse.in
        .panel-body