.small-12
  %h3 Student Guide
  %hr
  .panel-group#accordion
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSOne" } How to Customize My Profile
      #collapseSOne.panel-collapse.collapse.in
        .panel-body
          %ol
            %li When on your home dashboard, look up at the top navigation bar.  At the top right, there is a dropdown menu with your username on it.  Click it.
            %li When that menu drops down, click the option labelled 'My Account.'
            %li The screen you are taken to will allow you to customize your profile.  Here you can select a gravatar (your gamecraft avatar which will be how other students and your professors see you while you're on GradeCraft), you can set your role within your sections, whether you display the badges you earn to other students, and how you wish to be identified on the leaderboards.
            %li When you've made changes and reviewed them to your satisfaction, click the 'Update Settings' button at the bottom of the form.

    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSTwo" } How to Submit An Assignment
      #collapseSTwo.panel-collapse.collapse.in
        .panel-body
          %ol
            %li When on your home dashboard, look at the course timeline for your desired course.  There is a set of tabs just above the timeline.  One of these tabs is labelled 'Assignments,' click it.
            %li This is a list of the assignments for this course, including those already submitted.  Scroll down to the assignment you wish to submit and click the 'Submit' button to its right.
            %li This is the assignment submission screen.  Here you can indicate a URL where the assignment might be located online (ie. a blog, or other website based submission).  There is also a text entry box to paste text as your assignment or a description of the assignment and where it is located.  When you've entered the information you need to and reviewed it to your satisfaction, click the 'Submit' button at the bottom of the form.

    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSThree" } How to Predict Your Grade
      #collapseSThree.panel-collapse.collapse.in
        .panel-body
          %ol
            %li When on your home dashboard, look at the course timeline for your desired course.  There is a set of tabs just above the timeline.  One of these tabs is labelled 'Grade Predictor,' click it.
            %li Here you'll see the points you've been awarded for assignments you've submitted, including effective 0's for those you haven't, and total points compared to the total available for the course up to this point.  Under the point totals are a series of sliders for the various assignment types you'll encounter during your course.
            %li Use any information you've gained so far on graded assignments, plus your own predictions to adjust the sliders to how you believe you'll do in the remainder of the course.Use any information you've gained so far on graded assignments, plus your own predictions to adjust the sliders to how you believe you'll do in the remainder of the course.

    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSFour" } How to Create a Group
      #collapseSFour.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSFive" } How to Check My Final Grade
      #collapseSFive.panel-collapse.collapse.in
        .panel-body
          %ol
            %li When on your home dashboard, look at the right side of the page.  If you scroll down, there will be a button labelled 'Check My Final Grade.' Click it.
            %li Your current final grade will pop out from that button. To make the grade go away, you may click the button again.

    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSSix" } How to Share Your Badges
      #collapseSSix.panel-collapse.collapse.in
        .panel-body
          %ol
            %li When on your home dashboard, look at the course timeline for your desired course.  There is a set of tabs just above the timeline.  One of these tabs is labelled 'Badges,' click it.  (Keep in mind badges may be called something else by your instructors, ie. achievements, goals, etc.)
            %li This is a list of all the badges available to you, with those you've earned highlighted and the information about your earning it.
            %li One of the columns in this list is labelled 'Share this with your class?'  Locate the badge(s) you wish to share, and check the boxes for the relevant badges.
