.well
  %h3 Student Guide to GradeCraft
  %hr
  .panel-group#accordion
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSOne" } How to Customize My Profile
      #collapseSOne.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSTwo" } How to Submit An Assignment
      #collapseSTwo.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSThree" } How to Predict Your Grade
      #collapseSThree.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSFour" } How to Create a Group
      #collapseSFour.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSFive" } How to Check My Final Grade
      #collapseSFive.panel-collapse.collapse.in
        .panel-body
    .panel.panel-default
      .panel-heading
        %h4.panel-title
        %a.accordion-title{ "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseSSix" } How to Share Your Badges
      #collapseSSix.panel-collapse.collapse.in
        .panel-body
