.small-12.medium-6.columns.panel.radius.callout
  %h2 Uh Oh!
  %h3 We had some trouble logging you in.

  %p An email has been sent to the GradeCraft developers, who will look into the issue shortly.
  %p In the meantime, if you have any questions feel free to #{mail_to 'cholma@umich.edu', 'get in touch'}.
.small-12.medium-6.columns.panel.radius.login_forms
  = render 'user_sessions/form'