%h3 GradeCraft Features Fall 2013
%hr
%h5 Assignments
%ul.clear
  %li Individual and Group Assignments, Badges (with points or without), Team Challenges
  %li Multi-part assignments/badges
  %li Submissions with file uploads

%h5 Groupings
%ul.clear
  %li Teams/Sections (can earn points as a group through Team Challenges)
  %li Student-created groups for single or multiple assignments

%h5 Grading
%ul.clear
  %li "Quick Win" Grading (award many students points or badges at once)
  %li Key Grading (rubrics to support standardized grading, badge awarding)
  %li Student-determined assignment weights
  %li Self-awarded points (attendance)
  %li Choice between awarding grades and/or levels to work

%h5 Student Dashboard
%ul.clear
  %li Course info (meeting times, office hours, professor & gsi info,
  %li Academic history
  %li Interactive timeline
  %li Current points & total points bar charts
  %li Assignments with submissions, grades, and instructor feedback
  %li Assignment calendar
  %li Badges
  %li Grade predictor

%h5 Analytics
%ul.clear
  %li Achievement Analytics & Displays
  %li Basic system engagement displays [we're anticipating launching a more complex series of engagement displays midway through the semester]

%h5 Technical Details
%ul.clear
  %li CTools can launch GradeCraft
  %li GradeCraft can launch and receive LTI tools