.columns.small-12
  %h3 GradeCraft Features Fall 2013
  %hr
  %h4 Assignments
  %ul
    %li Individual and Group Assignments, Badges (with points or without), Team Challenges
    %li Multi-part assignments/badges
    %li Submissions with file uploads

  %h4 Groupings
  %ul
    %li Teams/Sections (can earn points as a group through Team Challenges)
    %li Student-created groups for single or multiple assignments

  %h4 Grading
  %ul
    %li "Quick Win" Grading (award many students points or badges at once)
    %li Key Grading (rubrics to support standardized grading, badge awarding)
    %li Student-determined assignment weights
    %li Self-awarded points (attendance)
    %li Choice between awarding grades and/or levels to work

  %h4 Student Dashboard
  %ul
    %li Course info (meeting times, office hours, professor & gsi info,
    %li Academic history
    %li Interactive timeline
    %li Current points & total points bar charts
    %li Assignments with submissions, grades, and instructor feedback
    %li Assignment calendar
    %li Badges
    %li Grade predictor

  %h4 Analytics
  %ul
    %li Achievement Analytics & Displays
    %li Basic system engagement displays [we're anticipating launching a more complex series of engagement displays midway through the semester]

  %h4 Technical Details
  %ul
    %li CTools can launch GradeCraft
    %li GradeCraft can launch and receive LTI tools