%div.jumbotron
  %h1 Uh Oh!
  %h2 We had some trouble logging you in.

  %p An email has been sent to the GradeCraft developers, who will look into the issue shortly.
  %p In the meantime, if you have any questions feel free to #{mail_to 'cholma@umich.edu', 'get in touch'}.
