%h3 Site Credits
.info.clear
  %ul.no_bullet
    %li Barry Fishman, University of Michigan, Professor & Master Game Designer
    %li Cait Holman, University of Michigan, School of Information, Doctoral Student
    %li Stephen Aguilar, University of Michigan, School of Education, Doctoral Student
    %li Badges Designed by <a href="http://mattrich.deviantart.com/" target="_blank">mattrich</a>
%hr
%h3 The Team
.info.clear
  %ul.no_bullet
    %li Cory Kaufman-Schofield
    %li Alan Gutierrez
    %li Steve Schwartz
%hr
%h3 Special Thanks To...
.info.clear
  %ul.no_bullet
    %li Scott Tsuchiyama
    %li Kevin Champion
    %li Chad LaJoie