.info
  .col-lg-3
    %h3 GradeCraft is
    %ul.no_bullet
      %li Barry Fishman, University of Michigan, Professor & Master Game Designer
      %li Cait Holman, University of Michigan, School of Information, Doctoral Student
      %li Stephen Aguilar, University of Michigan, School of Education, Doctoral Student
  .col-lg-3
    %h3 Development Team
    %ul.no_bullet
      %li Cory Kaufman-Schofield
      %li Alan Gutierrez
      %li Steve Schwartz
      %li Bryan Birchmeier
  .col-lg-3
    %h3 Special Thanks To
    %ul.no_bullet
      %li Scott Tsuchiyama
      %li Kevin Champion
      %li Chad LaJoie
  .col-lg-3
    %h3
    %li Badges Designed by <a href="http://mattrich.deviantart.com/" target="_blank">mattrich</a>