.columns.small-12
  %h3 GradeCraft is...
  %hr
  %ul
    %li Barry Fishman, University of Michigan, Professor & Master Game Designer
    %li Cait Holman, University of Michigan, School of Information, Doctoral Student
    %li Stephen Aguilar, University of Michigan, School of Education, Doctoral Student
  %h4 UX
  %ul
    %li Adam Levick
    %li Michelle Fiesta
  %h4 Development
  %ul
    %li Cory Kaufman-Schofield
    %li Alan Gutierrez
    %li Steve Schwartz
    %li Bryan Birchmeier
  %h4 Special Thanks To...
  %ul
    %li Scott Tsuchiyama
    %li Kevin Champion
    %li Chad LaJoie