.col-lg-12
  %h3 Submit a Bug

  .lead Uhoh, did something not work? You should <a href="mailto:gradecraft@gmail.com">tell us about that</a> ASAP!

  .lead Also, we're feedback hungry monsters, so if you would like to share your thoughts, suggestions, or feelings about GradeCraft you should feel free to send those along as well.
  .pull-right.earned.lead *nom nom nom*