.columns
  %h2 Submit a Bug
  %hr

%p.small-12.columns Uhoh, did something not work? You should <a href="mailto:gradecraft@gmail.com">tell us about that</a> ASAP!

%p.small-10.columns Also, we're feedback hungry monsters, so if you would like to share your thoughts, suggestions, or feelings about GradeCraft you should feel free to send those along as well.

.small-2.offset-10.columns *nom nom nom*