.small-12.columns
  %h2 Using Gradecraft
  %hr

  %p Our intent is to create a tool that makes it easy for anyone to create a gameful course assessment system. We're piloting a new and more generalizable version of GradeCraft during the winter semester of 2014, and our hope is that we can make it available for anyone to use by the summer of 2014.

  %p Please <a href="mailto:cholma@umich.edu">get in touch with us</a> if you're interested in being involved!