= content_nav_for GradeScheme, "New Grade Scheme" do
  %li= link_to 'See All Grade Schemes', grade_schemes_path, :class => "button tiny radius radius"

.small-12.columns
  %h3= @title
  = render 'form'