%li= link_to 'New Course', new_course_path, :class => "button tiny radius"
- if current_user.is_admin?
  %li= link_to 'See All Courses', courses_path, :class => "button tiny radius"
- if @course.present?
  %li= link_to "Edit #{@course.name}", edit_course_path(@course), :class => "button tiny radius"