.well
  %fieldset
    %legend Criteria
    .panel
      .panel-heading
        %h3.panel-title Add a Criterium
      = f.simple_fields_for :criteria do |cf|
        = cf.input :name
        = cf.input :description, as: :text
        = cf.input :category
