.small-12.panel.mainContent
  / Rubrics Navigation
  .show-for-medium-up
    = content_nav_for Rubric, "New Rubric"

  .hide-for-medium-up{:style => "padding: 10px"}
    = mobile_nav_for Rubric, "New Rubric"

  = render 'form'
