.content-nav {
  margin-bottom: 1rem;
}

ul.breadcrumbs {
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  background-color: #FFF;

  li {
  font-size: 1rem;

  }
}

.sub-nav {
  padding: 10px;
  height: 40px;
  margin: 0;
  background-color: $green;
  dt {
    color: #FFF;
  }

  .navbar-nav li {
    box-shadow: 0px 0px 4px #777;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0.2rem;
  }

  .navbar-nav li.active {
    background-color: $lightblue;
    color: #000;
  }

  

  .navbar-nav li {
    background-color: $primary-color;
    font-size: .7rem;
    padding: 10px;
    color: #FFF;
  }

  .navbar-nav li:hover {
    background-color: $secondary-color;
    color: #000;
  }
}

.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  color: #FFF;
}

.sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover {
  color: #FFF;
}


