.content-nav {
  margin-bottom: 1rem;
}

ul.breadcrumbs {
  background-color: $yellow;
  border: none;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: .3rem;
  border-bottom-right-radius: 0;
  margin-bottom: 0;

}

.sub-nav {
  padding: 10px;
  height: 40px;
  margin: 0;
  background-color: $green;
  dt {
    color: #FFF;

  }

  li {
    box-shadow: 0px 0px 4px #777;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}