/** Buttons **/

.btn {
  font-family: 'Pontano Sans',sans-serif;
  border: none;
}

.btn-primary, .btn-group.open .btn-primary.dropdown-toggle, .badge-primary {
  background-color: $lightblue;
}

.badge-secondary-info, .btn-secondary {
  background-color: $blue;
}

.btn a, .badge a {
  color: #FFF;
}

.btn a:hover {
  text-decoration: none;
  color: #FFF;
}

.alert {
  padding: 5px;
  margin-top: 10px;
  color: #FFF;
}

.btn-info, .badge-info, .alert-info {
  background-color: $orange;
}

.btn-success, .badge-success, .alert-success {
  background-color: $green;
}

.btn-warning, .badge-warning, .alert-error, .label-important {
  background-color: $red;
}

.btn.btn-tiny {
  font-size: 11px;
  line-height: 1.0;
  border-radius: 4px;
}
