.select2-search-field {
  width: 20rem;
}

h6.small {
  line-height: 130%;
  color: #666;
  clear: both;
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
}


/* Text editor box styling */

.wysihtml5-sandbox  {
  height: 15rem !important;
  padding-top: 0;
}

.wysihtml5-sandbox body.wysihtml5-editor {
  padding: 0 !important;
}

.wysihtml5-toolbar li {
  list-style-type: none;
  display: inline;
}

ul.wysihtml5-toolbar {
  margin: 0 0 5px;
  padding: 0;
}

form {
  margin: 0;

  .columns {
    padding-left: 0;
  }
}

label.checkbox input, label.checkbox, label.radio, label.radio input {
  margin-right: 10px;
  clear: both;
}

#massGrade .inline-list {
  margin-bottom: 0;

    label {
      margin-bottom: 0;
    }

}

#massGrade .inline-list label {
  font-weight: normal;
  float: left;
  margin: 0;
}

#massGrade .inline-list input {
margin-left: 10px;
float: left;
}

label, input {
  margin-bottom: 0;
  padding-bottom: 0;
}

input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], select, .checkbox-inline input[type="checkbox"], input[type="text"] {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

select, input[type="text"] {
  height: 2.5rem;
}


label.checkbox, label.radio  {
    font-weight: normal;
  }

  /** Login Forms  **/

  .login_forms {
  background-color: #FFF;
  border: none;

  .content {
    background-color: #eee;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    input {
      width: 85%;
      margin-left: 15px;
    }
  }

  dd a {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-collapse: true;
    padding: 14px;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    background-color: $lightblue;
  }
  dd.active a {
    background-color: #eee;
  }

  .right {
    margin-right: 25px;
  }
}

.score-level .remove-level.button {
  margin-top: 1.2rem;
} 