.select2-search-field {
  width: 20rem;
}

form {
  margin: 0;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

label, input {
  padding-bottom: 0;
}

  /** Login Forms  **/

  .login_forms {
  background-color: #FFF;
  border: none;

  .content {
    background-color: #eee;
    border-bottom-right-radius: $global-radius;
    border-bottom-left-radius: $global-radius;

    input {
      width: 90% !important;
      margin-left: 15px !important;
    }
  }

  dd a {
    border-collapse: true !important;
    border-top-right-radius: $global-radius;
    border-top-left-radius: $global-radius;
    background-color: $lightblue !important;
  }
  dd.active a {
    background-color: #eee !important;
  }

  .right {
    margin-right: 25px;
  }
}

.score-level .remove-level.button, .remove-element.button, .assignment-score-levels .remove-assignment-score-level.button {
  margin-top: 1.8rem;
  color: #FFF;
}

fieldset {
  border: none;
  padding: 0;
}

/** Styling to make labels on checkboxes and radio forms align properly**/
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 0px;
  margin-bottom: 15px;
}
.radio label,
.checkbox label {
  margin-bottom: 0;
  margin-top: -10px;
  font-weight: normal;
  cursor: pointer;
}

label.checkbox input, label.checkbox, label.radio, label.radio input {
  margin-right: 10px;
  clear: both;
}


.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: 0px;
}

input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], select, .checkbox-inline input[type="checkbox"], input[type="text"] {
  margin-bottom: 0.5rem;
}


select {
  background-color: #F0F8FF !important;
  border-radius: $global-radius;
}

select:hover {
  background-color: $lightblue;
}

ul.dropdown-menu {
  background-color: #FFF;
}

.form_label {
  font-size: 80%;
  line-height: 130%;
  color: #666;
  font-weight: normal;
}

.checkbox .form_label {

  margin-left: 1.5rem;
}

.textarea .form_label {
  background-color: #eee;
  padding: 1rem;
  border-bottom-right-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
}