
/* Background image for site, this is declared because otherwise it overrides the text editor's bkg */
body.logged-in, body.logged-out {
  background: image-url("cloud_bg.gif");
  padding-top: 3.6rem;
}


/* Primary page content */ 
.mainContent {
  margin-top: 2rem;
  background-color: #FFF;
  min-height: 750px;
  height: 100% !important;
  margin-right: 0;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-radius: $global-radius;
  border: none;
}

.outerContainer {
  padding-right: 0;
}

/* Front facing page, not logged in */ 
.row.panel.publicContent {
  margin-bottom: 0;
  padding-top: 2rem;
  border: none;
  background-color: #FFF;
  min-height: 30rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.row.panel.footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
  background-color: $primary-color-5;
  border: none;

  h5 {
    color: $primary-color-3;
  }

  a {
    color: #FFF;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    font-size: .9rem;
  }
}

.panel p {
  margin-bottom: 0;
}


/* Force the alert to be below the navigation */ 
.alert-box {
  margin-top: 1rem;
}

/* Allow other things to appear above the timeline */
.vco-storyjs {
  z-index: 0;
}

.content#boxplot, .content#submitted, .content#levels {
  padding: 1rem;
}

.panel {
  border-radius: $global-radius;
}

form .tabs-content .content {
  min-height: 400px;
  border: 1px solid #eee;
  padding: 1rem;
} 

/* Responsive outer container */ 
@media (min-width: 1000px)  {
  
  .staff_subnav {
    border-radius: $global-radius;
  }
}

@media (max-width: 1000px)  {
  .mainContent, .sideBar.panel {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .staff_subnav {
    border-radius: $global-radius;
  }
}

@media (max-width: 640px)  {
  .mainContent {
    border-radius: 0;
  }
}