/* Coloring the brand */ 
.title-area li.name h1 a {
  color: $secondary-color;
  white-space:nowrap;
}

.top-bar-section ul ul.dropdown {
  padding: .2rem .6rem;
  background-color: #333;
  color: #FFF;
  border-bottom-left-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
  z-index: 100;
}

.top-bar-section .has-form input {
  border-top-left-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
}

.alert.button {
  border-top-right-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
  background-color: $primary-color-3;
}

.top-bar-section ul ul.dropdown li a {
  padding: 0.2rem;
  color: $secondary-color-4;
  line-height: 2rem !important;
}

.top-bar-section ul ul.dropdown.classInfo {
  padding: .9rem .8rem;
  width: 20rem;
  font-size: 14px;

  li {
    margin-bottom: .5rem;
  }

  li:hover {
    background-color: transparent !important;
  }

  a {
    margin: 0;
    color: $secondary-color-4;
    padding: 0;
    line-height: 1.5rem;
  }

  a:hover {
    background-color: transparent !important;
  }
}

  .top-bar-section ul ul.dropdown a, .top-bar-section ul ul.dropdown a:hover {
    color: $secondary-color;
  }

 .top-bar-section ul ul.dropdown a:hover {
    color: $secondary-color;
    background-color: transparent !important;
  }

/** Styling the tagline **/
/** Foundation requires that the items in the menu bar be links, and since the
tagline doesn't actually link anywhere we're disabling the perception of the link **/
.top-bar-section .left a, .top-bar-section .left li a:hover {
  color: $primary-color-3;
  margin-top: 1px;
  height: 1rem !important;
  position: relative;
  margin-right: 0;
  background-color: #333 !important;
  cursor: default;
}

/* Rounding the gravatar edges */ 
img.img-rounded {
  border-radius: .25rem;
}

/* Styling the mobile active link dropdown */ 
.f-dropdown li.active {
  padding: 0.5rem;
  background-color: $secondary-color;
}
