.top-bar-section {
  font-family: "Avenir", sans-serif !important;
}

.top-bar-section ul ul.dropdown {
  padding: .3rem .6rem;
  background-color: #333;
  color: #FFF;
  border-bottom-left-radius: .7rem;
  border-bottom-right-radius: .7rem;
  font-size: 14px;

}

.top-bar-section ul ul.dropdown li a {
  padding: 0.4rem;
}

.top-bar-section ul ul.dropdown.classInfo {
  padding: .9rem .8rem;
  width: 20rem;

  li {
    margin-bottom: .5rem;
  }

  li:hover {
  background-color: transparent !important;
  }

  a {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
  }

  a:hover {
    background-color: transparent !important;
  }
}

  .top-bar-section ul ul.dropdown a, .top-bar-section ul ul.dropdown a:hover {
    color: $lightblue;
  }

 .top-bar-section ul ul.dropdown a:hover {
    color: $green;
    background-color: transparent !important;
  }

select#course_id {
  border: 0;
  color: #FFF;
  width: auto;
}

/** Styling the tagline **/
.top-bar-section .left a {
  color: $lightblue;
  margin-top: 1px;
  height: 1rem !important;
  position: relative;
  margin-right: 0;
}

/** Foundation requires that the items in the menu bar be links, and since the
tagline doesn't actually link anywhere we're disabling the perception of the link **/
.top-bar-section .left li a:hover {
  color: $lightblue;
  cursor: default;
  background-color: #333;
}

