.top-bar-section ul ul.dropdown.classInfo {
  font-size: .8rem;
  color: #FFF;
  width: 20rem;
  padding-top: 1rem;
}

.top-bar-section ul ul.dropdown {
  padding: 0.25rem 1rem;  
  background-color: #333;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 1px 1px 5px #888888;

  a:hover {
      color: $lightblue;
      background-color: #333;
  }
}

.top-bar-section .classInfo li {
  margin-bottom: .75rem;
}

.top-bar-section .dropdown.classInfo li a, .top-bar-section .dropdown.classInfo li a:hover {
  background-color: #333;
  padding: 0;
  display: inline;
}

.top-bar-section .dropdown.classInfo li a {
  color: $lightblue;
}

.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  color: #FFF;
}

.sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover {
  color: #FFF;
}

select#course_id {
  background-color: #333;
  border: 0;
  color: #FFF;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  width: auto;
}

.top-bar-section .left a {
  color: $lightblue;
  font-family: "Avenir", sans-serif;
  margin-top: 1px;
  height: 1rem !important;
  position: relative;
  margin-right: 0;
}

.top-bar-section .left li a:hover {
  color: $lightblue;
  cursor: default;
  background-color: #333;
}

