/** Staff Sidebar **/
.staff_subnav {
  background-color: #FFF;
  padding-left: 1rem;
}

/* Styles the hover state on the box plot on the student dashboard */
.jqstooltip {
    box-sizing: content-box;
    height: auto !important;
    width: auto !important;
}

/* Makes the box plot responsive */ 
#student_grade_distro canvas {
  width: 100% !important;
}