/** Staff Sidebar **/
.staff_subnav {
  background-color: #FFF;
  padding-top: 1rem;
  display: table-cell; 
  /* Subheadings */
  label{
    text-transform: uppercase;
  }

  /* Spacing out the list */ 
  li {
    margin: .25rem 0;
  }

  li.divider {
    margin: 1rem 0;
  }

  
}
/* Forcing buttons and icons to display inline */ 
  .side-nav li a:not(.button) {
    display: inline !important;
  }
/* Styles the hover state on the box plot on the student dashboard */
.jqstooltip {
    box-sizing: content-box;
    height: auto !important;
    width: auto !important;
}

/* Makes the box plot responsive */ 
#student_grade_distro canvas {
  width: 100% !important;
}

.sideBar.panel {
  margin: 1rem 0;
  border-radius: $global-radius;
}