/** Student Dashboard Styles **/

/* Adding the grey enclosure for the prediction */ 
.gradePredictor {
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 3px 3px #888888;
  z-index: 100;

  /* Setting the chart height */
  #prediction {
    height: 120px;
  }

}

/* Styling the space where students actually predict their grades */ 
#predictorPage ul.slides, #predictorPage ul.slides li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Styling the slider widgets */ 
.slider.ui-widget-content {
  background: #eeeeee;
  border: none;
}

.ui-widget-header {
  background: $secondary-color;
}

.ui-slider .ui-slider-handle {
  width:20px;
  height:20px;
  position:absolute;
  top:-5px;
  margin-left:-12px;
  background: $secondary-color;
}

/* Styling the bar charts on the syllabus page */
#userBarInProgress, #userBarTotal {
  min-height: 180px;
  width: 100%;
  clear: both;
  margin-left: -20px;
  .chart {
    height: 200px;
  }
}

/* Adjusting the margin between panels */
.sideBar .panel {
  background-color: #FFF;
  margin-bottom: 1rem;
  border: none;
}

/* Crossing out upcoming assignments in the to do list if the student has already submitted them */
.strikethrough {
  text-decoration: line-through;
}

/* Styling badge images depending on whether or not the student has earned them */
img.unearned {
  opacity: .2 !important;
}

img.earned {
  opacity: 1;
}

/* Decreasing the size of the buttons on the syllabus page */
#syllabus .button.tiny {
  margin: 0;
  font-size: .7rem;
  padding: 0.3rem .5rem;
}

/* Adjusting the margins on the small headers in the gravatar panel */ 
.gravatar.panel {
  h3 {
    margin: 0;
  }
}

.bar_magic {
  height: 2rem;
}

/*striping*/
.striped {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}


