
/** Table Styles **/

/* Set the tables to be full width of the page*/
table.responsive {
  width: 100%;
  border-spacing: 0 !important;

  a:hover {
    color: $green;
  }

  .button {
    margin-bottom: 0;
  }

  td {
    line-height: 1.5rem;
  }

  /* Table Header styles */
  th {
    text-transform: capitalize;
    font-weight: normal;
    padding: .5rem;
  }

  th .button-group {
    button {
      margin: 0;
      padding: .2rem;
    }
  }
}

table th.sortable {
  cursor: pointer;
}

table .button-group li a.button.tiny {
  margin: 0;
  border-radius: 0;
  padding: .4rem .5rem;
}

/* Highlight the sorted columns */
th.sorting-desc, th.sorting-asc {
  color: $secondary-color;
  background-color: $primary-color;
}

.button.tiny.aindex {
  width: auto !important;
  background-color: $secondary-color;
  right: 0;
  position: relative;
  top: -2.8rem;
  margin-bottom: -4.8rem;
}

.button.tiny.aindex:hover {
  background-color: $darkblue;
  color: #FFF;
}

.button-column {
    width: 300px;
  }

@media (max-width: 1279px)  {
  
  table .button-group {
    display: inline;
  }

  table .button-group li a.button.tiny  {
  padding: .25rem;
  border-radius: none;
  border: none;
  }

  .scrollable .button-column {
    display: inline;
  }
  .round .button.tiny {
    padding: .4rem;
  }
}



@media (max-width: 640px) {
  table .button-group li a.button.tiny  {
  padding: .75rem;
  width: 5rem;
  border: 1px solid #eee;
  }
}

/* Styling pattern tables for assignment outcome overview */ 
td.complete, tr.achieved, tr.complete {
  background-color: #d7fae0;
}

i.complete {
  color: $success-color;
}

td.absent {
  background-color: #f9adad;
}

i.absent {
  color: $alert-color;
}

td.partial, td.need_to_be_released {
  background-color: $secondary-color;
}

i.partial {
  color: $secondary-color;
}

i.missing_grade {
  color: #CCC;
}