
/** Table Styles **/

table.responsive {
  a {
    color: #333;
  }

  a:hover {
    color: $lightblue;
  }

  .button {
    margin-bottom: 0;
  }
}
table.responsive tbody, table.responsive tbody tr {
  padding: 0;
}

table td {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-spacing: 0 !important;
  border-radius: .4rem;
}

table th {
  text-transform: capitalize;
  font-weight: normal;
}

 table .button-group li button.tiny {
  margin: 0;
  border-radius: 0;
  padding: .4rem .5rem;
}

th.sorting-desc, th.sorting-asc {
  color: $yellow;
}

dd .content.active {
  margin: 0;
  padding: 0;
}

.button.tiny.round.aindex {
  width: auto !important;
  background-color: $blue;
  color: #FFF;
  right: 0;
  top: -2.8rem;
  margin: 0;
}


.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-condensed thead > tr > th.dow {
  color: #333 !important;
}