.bold {
  font-weight: bold;
}

.not_bold {
  font-weight: normal !important;
}

.inverse {
  color: #FFF;
}
.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.pushdown {
  padding-top: .3rem;
}

.pushup {
  padding-bottom: .2rem;
}

.transparent{
  opacity: .6;
}

.italic {
  font-style: italic;
}

.smallcaps {
  font-variant: small-caps;
}

.uppercase {
  text-transform: uppercase;
}

hr {
  border: dotted $secondary-color;
  border-width: 1px 0 0;
  margin: 1.5rem auto;
}

@media (max-width: 679px)  {
  .pagetitle {
    color: #FFF !important;
    background-color: $logogreen;
    padding: .5rem;
    margin: 0 2.5rem;
    display: inline-block;
    border-radius: $global-radius;
    top: .5rem !important;
    box-shadow: 2px 2px 8px #ccc;
  }
}

@media (min-width: 680px)  {
  .pagetitle {
    color: #FFF !important;
    background-color: $logogreen;
    padding: .5rem;
    display: inline-block;
    border-top-right-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    top: .5rem !important;
    box-shadow: 2px 2px 8px #ccc;
  }
}