/*
 *= require jquery.fileupload-ui
 *= require s3_direct_upload_progress_bars
 *= require jquery-ui.min
 *= require jquery.circliful
 *= require jquery.dynatable
 *= require responsive-tables
 *= require foundation_and_overrides
 *= require bootstrap-datetimepicker
 *= require bootsy
 *= require select2
 *= require foundation-icons
 *= require bootstrap
 *= require collapse
 
/* Branding colors */

/* Based on cloud colors */
$blue: #58d0eb;
/* Based on cloud colors */
$lightblue: #6dd8f0;
$green: #239C45;
$yellow: #FFF90D;
$orange: #F4A425;
$darkblue: #120470;
$logogreen: #67cf30;

$primary-color: #274E56;
$secondary-color: #58d0eb;
$alert-color: #f04124;
$success-color: #67CF30;

/* Importing supporting files. If you create a new css file you'll need to add it here.  */
@import 'compass';
@import 'compass/css3';
@import 'sidebars';
@import 'forms';
@import 'tables';
@import 'student_dashboard';
@import 'tabs';
@import 'timeline';
@import 'analytics';
@import 'breadcrumbs';
@import 'navigation';
@import 'buttons';
@import 'videos';
@import 'foundation_and_overrides';

/* Background image for site, this is declared because otherwise it overrides the text editor's bkg */
body.logged-in, body.logged-out {
  background: image-url("cloud_bg.gif");
}

.mainContent {
  border-left: 10px solid $green;
  border-right: 10px solid $green;
  border-bottom: 10px solid $green;
  border-top: none;
  border-bottom: none;
  background-color: #FFF;
  min-height: 815px;
  padding: 0;
  margin: 0;
}

.row.panel.publicContent {
  margin-bottom: 0;
  padding-top: 2rem;
  border-top: none;
  background-color: #FFF;
  min-height: 30rem;
}

.row.panel.footer {
  margin-top: 0;
  color: $secondary-color;
  background-color: #444;
  border: none;

  h6 {
    font-weight: bold;
    color: #FFF;
  }

  a {
    color: #FFF;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    font-size: .9rem;
  }
}

.alert-box {
  margin-top: 1rem;
}


.vco-storyjs {
  z-index: 0;
}

/* Header styles */

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: bold;
}

h6 {
  font-size: .9rem;
}

h6.small {
  font-size: .7rem;
}


.bold {
  font-weight: bold;
}

.not_bold {
  font-weight: normal !important;
}

.inverse {
  color: #FFF;
}

.panel.callout {
  background-color: #eee;
  border: none;
}

#attachments {
  clear: both;
  margin: 2rem 0 1.5rem;
  background-color: #eee;
  padding: 1rem;
  border: 1px solid #ccc;
}

.showmore_content { position:relative; overflow:hidden; }
.showmore_trigger { margin: .5rem 0; text-transform: uppercase; cursor:pointer; color: #666; }
.showmore_trigger:hover {text-decoration: underline;}
.showmore_trigger span { display:block; }

.mainContent{
  border-radius: .75rem;
}

div.small-12.medium-4.large-3.columns.sideBar.panel {
  margin: 1rem 0;
  border-radius: .75rem;
}
@media (min-width: 1000px)  {
  .mainContent, .publicContent {
    margin-top: 1rem;
  }
}

@media (max-width: 1000px)  {
  .mainContent {
    border-radius: 0;
  }
  .columns.outerContainer, .publicContent, div.small-12.medium-4.large-3.columns.sideBar.panel {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 640px)  {
  .mainContent {
    border-radius: 0;
  }
  .columns.outerContainer, .publicContent, div.small-12.medium-4.large-3.columns.sideBar.panel {
    margin: 0;
    padding: 0;
  }
}

