/*
 *= require s3_direct_upload_progress_bars
 *= require jquery-ui.min
 *= require jquery.circliful
 *= require jquery.dynatable
 *= require responsive-tables
 *= require bootstrap-datetimepicker
 *= require select2
 *= require foundation-icons
 *= require bootstrap
 *= require collapse
 
/* Branding colors */

$primary-color: #1A1EB2;
$primary-color-2: #303285;
$primary-color-3: #6dd8f0;
$primary-color-4: #6dd8f0;
$primary-color-5: #080B74;
$secondary-color: #00BD39;
$secondary-color-2: #238D43;
$secondary-color-3: #007B25;
$secondary-color-4: #37DE6A;
$secondary-color-5: #64DE89;
$alert-color: #FFCC00;
$alert-color-2: #BFBD30;
$alert-color-3: #A6A400;
$alert-color-4: #FFFD40;
$alert-color-5: #FFFD73;


/* Importing supporting files. If you create a new css file you'll need to add it here.  */
@import 'foundation_and_overrides';
@import 'compass';
@import 'compass/css3';
@import 'sidebars';
@import 'forms';
@import 'tables';
@import 'student_dashboard';
@import 'timeline';
@import 'analytics';
@import 'breadcrumbs';
@import 'navigation';
@import 'videos';
@import 'bootsy';
@import 'layout';
@import 'buttons_and_icons';
@import 'typography';

