/*
 *= require s3_direct_upload_progress_bars
 *= require jquery-ui.min
 *= require jquery.circliful
 *= require jquery.dynatable
 *= require responsive-tables
 *= require bootstrap-datetimepicker
 *= require select2
 *= require foundation-icons
 *= require bootstrap
 *= require collapse
 
/* Branding colors */

/* Based on cloud colors */
$blue: #58d0eb;
/* Based on cloud colors */
$lightblue: #6dd8f0;
$green: #239C45;
$yellow: #FFF90D;
$orange: #F4A425;
$darkblue: #120470;
$logogreen: #67cf30;
$darkgrey: #444444;

$primary-color: #274E56;
$secondary-color: #58d0eb;
$alert-color: #f04124;
$success-color: #67CF30;


/* Importing supporting files. If you create a new css file you'll need to add it here.  */
@import 'foundation_and_overrides';
@import 'compass';
@import 'compass/css3';
@import 'sidebars';
@import 'forms';
@import 'tables';
@import 'student_dashboard';
@import 'timeline';
@import 'analytics';
@import 'breadcrumbs';
@import 'navigation';
@import 'videos';
@import 'bootsy';
@import 'layout';
@import 'buttons_and_icons';
@import 'typography';

