/* Add the sprite to the assignment expand */ 
h3.collapse a {
  background: image-url("sprite.png") 10px 16px no-repeat;
  padding: .5rem 1.6rem;
  border-radius: .5rem;
}

h3.collapse.open a { 
  background-position: 13px -25px;
}

h3.collapse+div { padding: 10px; }

/* Pre hide sections with JavaScript on */

h3.collapse+div {
  display: none;
}

.assignment_type {
  margin-bottom: 2rem !important;
}

.assignment_type table {
  margin: 0;
}

.assignment_type .small-3 {
  height: 0;
}

