#sidebar li.icn_new_article a {
background: url('icn_new_article.png') no-repeat center left;
}
#sidebar li.icn_edit_article a {
background: url('icn_edit_article.png') no-repeat center left;
}
#sidebar li.icn_categories a {
background: url('icn_categories.png') no-repeat center left;
}
#sidebar li.icn_team a {
background: url('icn_podium.png') no-repeat center left;
}
#sidebar li.icn_tags a {
background: url('icn_tags.png') no-repeat center left;
}
#sidebar li.icn_add_user a {
background: url('images/icn_add_user.png') no-repeat center left;
}
#sidebar li.icn_view_users a {
background: url('icn_view_users.png') no-repeat center left;
}
#sidebar li.icn_profile a {
background: url('icn_profile.png') no-repeat center left;
}
#sidebar li.icn_folder a {
background: url('icn_folder.png') no-repeat center left;
}
#sidebar li.icn_photo a {
background: url('icn_photo.png') no-repeat center left;
}
#sidebar li.icn_audio a {
background: url('icn_audio.png') no-repeat center left;
}
#sidebar li.icn_video a {
background: url('icn_video.png') no-repeat center left;
}
#sidebar li.icn_settings a {
background: url('icn_settings.png') no-repeat center left;
}
#sidebar li.icn_security a {
background: url('icn_security.png') no-repeat center left;
}
#sidebar li.icn_jump_back a {
background: url(../images/icn_jump_back.png) no-repeat center left;
}
#sidebar li.icn_badge a {
background: url(../images/icn_badge.png) no-repeat center left;
}

#sidebar li.icn_book a {
background: url(../images/icn_book.png) no-repeat center left;
}
#sidebar li.icn_attendance a {
background: url(../images/icn_parents.png) no-repeat center left;
}
#sidebar li.icn_blog a {
background: url(../images/icn_blog.png) no-repeat center left;
}
#sidebar li.icn_lfpg a {
background: url(../images/icn_gamepad.png) no-repeat center left;
}
#sidebar li.icn_cup a {
background: url(../images/icn_cup.png) no-repeat center left;
}
#sidebar li.icn_certificate a {
background: url(../images/icn_certificate.png) no-repeat top left;
}

#sidebar li.icn_certificate a {
background: url(../images/icn_certificate.png) no-repeat top left;
}

#sidebar li.icn_sheriff a {
background: url(../images/icn_sheriffs_st.png) no-repeat center left;
}
#sidebar li.icn_skull a {
background: url(../images/icn_skull.png) no-repeat center left;
}
#sidebar li.icn_star a {
background: url(../images/icn_star.png) no-repeat center left;
}
#sidebar li.icn_calendar a {
background: url(../images/icn_calendar.png) no-repeat center left;
}
#sidebar li.icn_dashboard a {
background: url(../images/icn_dashboard.png) no-repeat center left;
}
#sidebar li.icn_flag a {
background: url(../images/icn_pin_flag.png) no-repeat center left;
}
#sidebar li.icn_stats a {
background: url('icn_stats.png') no-repeat center left;
}
#sidebar li.icn_screenshot a {
background-image: url('icn_screenshot.png') no-repeat center left;
}
#sidebar li.icn_charts a {
background: url(../images/icn_charts.png) no-repeat center left;
}
#sidebar li.icn_calculator a {
background: url('icn_calculator.png') no-repeat center left;
}
#sidebar li.icn_compass a {
background: url('icn_compass.png') no-repeat center left;
}
#sidebar li.icn_dislikes a {
background: url('icn_dislikes.png') no-repeat center left;
}
#sidebar li.icn_crown a {
background: url('icn_crown.png') no-repeat center left;
}
#sidebar li.icn_group a {
background: url('icn_group.png') no-repeat center left;
}
#sidebar li.icn_envelope a, .icn_envelope {
background: url('icn_envelope.png') no-repeat center left;
}
#rubric li.icn_learning_theory a {
  background: url(../badges/learningtheory_sm.png) no-repeat center left;
}
#rubric li.icn_apa a {
  background: url(../badges/apa_sm.png) no-repeat center left;
}
#rubric li.icn_motivation a {
  background: url(../badges/motivationaltheory_sm.png) no-repeat center left;
}
#rubric li.icn_scholar a {
  background: url(../badges/scholar_sm.png) no-repeat center left;
}
#rubric li.icn_violence a {
  background: url(../badges/violence_sm.png) no-repeat center left;
}
#rubric li.icn_gamedesigner a {
  background: url(../badges/gamer_sm.png) no-repeat center left;
}
#rubric li.icn_educationalgames a {
  background: url(../badges/educationalgames_sm.png) no-repeat center left;
}
#rubric li.icn_mathandscience a {
  background: url(../badges/mathandscience_sm.png) no-repeat center left;
}
#rubric li.icn_virtual a {
  background: url(../badges/virtualreality_sm.png) no-repeat center left;
}
#rubric li.icn_gamecritic a {
  background: url(../badges/gamecritic_sm.png) no-repeat center left;
}