#sidebar li.icn_new_article a {
background: image-url('icn_new_article.png') no-repeat center left;
}
#sidebar li.icn_edit_article a {
background: image-url('icn_edit_article.png') no-repeat center left;
}
#sidebar li.icn_categories a {
background: image-url('icn_categories.png') no-repeat center left;
}
#sidebar li.icn_team a {
background: image-url('icn_podium.png') no-repeat center left;
}
#sidebar li.icn_tags a {
background: image-url('icn_tags.png') no-repeat center left;
}
#sidebar li.icn_add_user a {
background: image-url('icn_add_user.png') no-repeat center left;
}
#sidebar li.icn_view_users a {
background: image-url('icn_view_users.png') no-repeat center left;
}
#sidebar li.icn_profile a {
background: image-url('icn_profile.png') no-repeat center left;
}
#sidebar li.icn_folder a {
background: image-url('icn_folder.png') no-repeat center left;
}
#sidebar li.icn_photo a {
background: image-url('icn_photo.png') no-repeat center left;
}
#sidebar li.icn_audio a {
background: image-url('icn_audio.png') no-repeat center left;
}
#sidebar li.icn_video a {
background: image-url('icn_video.png') no-repeat center left;
}
#sidebar li.icn_settings a {
background: image-url('icn_settings.png') no-repeat center left;
}
#sidebar li.icn_security a {
background: image-url('icn_security.png') no-repeat center left;
}
#sidebar li.icn_jump_back a {
background: image-url('icn_jump_back.png') no-repeat center left;
}
#sidebar li.icn_badge a {
background: image-url('icn_badge.png') no-repeat center left;
}

#sidebar li.icn_book a {
background: image-url('icn_book.png') no-repeat center left;
}
#sidebar li.icn_attendance a {
background: image-url('icn_parents.png') no-repeat center left;
}
#sidebar li.icn_blog a {
background: image-url('icn_blog.png') no-repeat center left;
}
#sidebar li.icn_lfpg a {
background: image-url('icn_gamepad.png') no-repeat center left;
}
#sidebar li.icn_cup a {
background: image-url('icn_cup.png') no-repeat center left;
}
#sidebar li.icn_certificate a {
background: image-url('icn_certificate.png') no-repeat top left;
}

#sidebar li.icn_certificate a {
background: image-url('icn_certificate.png') no-repeat top left;
}

#sidebar li.icn_sheriff a {
background: image-url('icn_sheriffs_st.png') no-repeat center left;
}
#sidebar li.icn_skull a {
background: image-url('icn_skull.png') no-repeat center left;
}
#sidebar li.icn_star a {
background: image-url('icn_star.png') no-repeat center left;
}
#sidebar li.icn_calendar a {
background: image-url('icn_calendar.png') no-repeat center left;
}
#sidebar li.icn_fishes a {
background: image-url('icn_fishes.png') no-repeat center left;
}
#sidebar li.icn_dashboard a {
background: image-url('icn_dashboard.png') no-repeat center left;
}
#sidebar li.icn_flag a {
background: image-url('icn_pin_flag.png') no-repeat center left;
}
#sidebar li.icn_stats a {
background: image-url('icn_stats.png') no-repeat center left;
}
#sidebar li.icn_screenshot a {
background: image-url('icn_screenshot.png') no-repeat center left;
}
#sidebar li.icn_charts a {
background: image-url('icn_charts.png') no-repeat center left;
}
#sidebar li.icn_calculator a {
background: image-url('icn_calculator.png') no-repeat center left;
}
#sidebar li.icn_compass a {
background: image-url('icn_compass.png') no-repeat center left;
}
#sidebar li.icn_dislikes a {
background: image-url('icn_dislikes.png') no-repeat center left;
}
#sidebar li.icn_crown a {
background: image-url('icn_crown.png') no-repeat center left;
}
#sidebar li.icn_group a {
background: image-url('icn_group.png') no-repeat center left;
}
#sidebar li.icn_envelope a, .icn_envelope {
background: image-url('icn_envelope.png') no-repeat center left;
}
#sidebar li.icn_flash a {
background: image-url('icn_flash.png') no-repeat center left;
}
#sidebar li.icn_film a {
background: image-url('icn_film.png') no-repeat center left;
}
#sidebar li.icn_gamepad a {
background: image-url('icn_gamepad.png') no-repeat center left;
}
#sidebar li.icn_playing_dic a {
background: image-url('icn_playing_dic.png') no-repeat center left;
}


#rubric li.icn_learning_theory a {
  background: image-url('learningtheory_sm.png') no-repeat center left;
}
#rubric li.icn_apa a {
  background: image-url('apa_sm.png') no-repeat center left;
}
#rubric li.icn_motivation a {
  background: image-url('motivationaltheory_sm.png') no-repeat center left;
}
#rubric li.icn_scholar a {
  background: image-url('scholar_sm.png') no-repeat center left;
}
#rubric li.icn_violence a {
  background: image-url('violence_sm.png') no-repeat center left;
}
#rubric li.icn_gamedesigner a {
  background: image-url('gamer_sm.png') no-repeat center left;
}
#rubric li.icn_educationalgames a {
  background: image-url('educationalgames_sm.png') no-repeat center left;
}
#rubric li.icn_mathandscience a {
  background: image-url('mathandscience_sm.png') no-repeat center left;
}
#rubric li.icn_virtual a {
  background: image-url('virtualreality_sm.png') no-repeat center left;
}
#rubric li.icn_gamecritic a {
  background: image-url('gamecritic_sm.png') no-repeat center left;
}
