%li{class: ("active" if current_page?(categories_path)) }
  = link_to_unless_current 'See All Categories', categories_path
- if @category.present?
  %li{class: ("active" if current_page?(edit_category_path(@category))) }
    = link_to_unless_current "Edit #{@category.name}", edit_category_path(@category)