.row
  .small-12.medium-6.columns.panel.radius
    %h5 Forgot Your Password?
    %p Enter the email address associated with your account, and you'll receive a link via email that will allow you to create a new password.
    = render 'forgot_password_form'

  .small-12.medium-6.columns.panel.callout.radius
    = render 'form'