.small-12.panel.columns.mainContent
  = content_nav_for "Course Timeline" do
    = render "tabs"
      
  #time_line{"data-timeline" => render(:partial => 'info/timeline', :handlers => [:jbuilder], :formats => [:js])}

  .clearfix