%table.table.simpleTable
  %thead
    %tr
      %th.sortable{"data-sort" => "string"} Assignment
      %th.sortable{"data-sort" => "string"} Submissions
      %th
  %tbody
    - @assignments.each do |assignment|
      - if assignment.accepts_submissions?
        %tr
          %th= link_to assignment.name, assignment
          %th= assignment.submissions.count
          %th
            - if assignment.assignment_type.mass_grade?
              = link_to 'Quick Win Grading', mass_grade_assignment_path(assignment), :class => "btn btn-tiny btn-info"
            - elsif assignment.rubrics.present?
              = link_to "Rubric Grading"
