.small-12.panel.mainContent
  / Ungraded Assignments
  = content_nav_for Assignment, "Ungraded #{term_for :assignments}" do
    = render "info/tabs"

  .small-12.columns

    = render 'ungraded_submissions_table', :course => current_course, :submissions => @ungraded_submissions

  .clearfix