.small-12.panel.mainContent
  / Ungraded Assignments
  = content_nav_for @assignments

  .small-12.columns
    %h3 Ungraded Submissions
    = render 'ungraded_submissions_table', :course => current_course, :submissions => @ungraded_submissions

  .clearfix