.small-12.panel.mainContent
  / Ungraded Assignments
  = content_nav do
    = render "info/tabs"

  = render 'ungraded_submissions_table', :course => current_course, :submissions => @ungraded_submissions

  %hr

  = render 'unreleased_grades_table', :course => current_course

  .clearfix