.small-12.medium-3.large-2.columns.staff_subnav.show-for-medium-up
  = render 'layouts/staff_subnav'

.small-12.medium-9.large-10.columns

  / Display errors and notifications
  = render 'layouts/alerts'

  = render 'layouts/content'