.small-12.medium-3.large-2.columns.staff_subnav.show-for-medium-up
  / Staff-only sidebar navigation
  = render 'layouts/staff_subnav'

.small-12.medium-9.large-10.columns.outerContainer
  / Display errors and notifications
  = render 'layouts/alerts'

  / Page content
  = render 'layouts/content'